    <!-- Cards de informação -->
    <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/092018/administracao-14102942.png"
                alt="Administração"
              />
              <div class="card-body">
                <h5 class="card-title">Administração</h5>
                <p class="card-text">
                  Se você pensa em ser um administrador de empresas, quer fundar
                  sua própria empresa e ser um empreendedor, ou mesmo liderar
                  equipes de ponta em uma grande corporação, o começo da sua
                  trajetória passa pela Mauá.
                </p>
              </div>
            </div>
          </div>
  
          <div class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/092018/design-14102950.png"
                alt="Imagem
  aleatória"
              />
              <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">
                  O curso de Design da Mauá, oferecido desde 2007, possui nota
                  máxima no MEC, tem conquistado seu espaço no mundo acadêmico e
                  já deixa sua marca de qualidade no mercado.
                </p>
              </div>
            </div>
          </div>
  
          <div
            class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3 mt-xl-0"
          >
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/092018/engenharia-alimentos-14103003.png"
                alt="Administração"
              />
              <div class="card-body">
                <h5 class="card-title">Engenharia de Alimentos</h5>
                <p class="card-text">
                  Quer um curso de Engenharia de Alimentos que te ensina o
                  conteúdo na prática durante toda a graduação? A Mauá oferece a
                  melhor infraestrutura para você.
                </p>
              </div>
            </div>
          </div>
  
          <div
            class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3"
          >
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/092018/engenharia-civil-14103012.png"
                alt="Imagem
    aleatória"
              />
              <div class="card-body">
                <h5 class="card-title">Engenharia Civil</h5>
                <p class="card-text">
                  Quer fazer diferença no mercado e na sociedade sendo formado em
                  Engenharia Civil? Conheça o curso da Mauá!
                </p>
              </div>
            </div>
          </div>
  
          <div
            class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3"
          >
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/092018/engenharia-computacao-14103023.png"
                alt="Administração"
              />
              <div class="card-body">
                <h5 class="card-title">Engenharia de Computação</h5>
                <p class="card-text">
                  A Engenharia de Computação está presente em nosso dia a dia e
                  nas mais diversas áreas: Educação, Indústrias, Redes de
                  Comunicação e Dispositivos Móveis, Transportes, Entreterimento,
                  entre outras.
                </p>
              </div>
            </div>
          </div>
  
          <div
            class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3"
          >
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/092018/engenharia-controle-automacao-14103035.png"
                alt="Administração"
              />
              <div class="card-body">
                <h5 class="card-title">Engenharia de Controle e Automação</h5>
                <p class="card-text">
                  Você está procurando uma graduação em Engenharia de Controle e
                  Automação que o destaque no mercado de trabalho. Conheça o curso
                  oferecido pela Mauá!
                </p>
              </div>
            </div>
          </div>
  
          <div
            class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3"
          >
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/092018/engenharia-eletrica-14103052.png"
                alt="Administração"
              />
              <div class="card-body">
                <h5 class="card-title">Engenharia Elétrica</h5>
                <p class="card-text">
                  A Engenharia Elétrica está no nosso cotidiano, presente nas
                  diversas áreas industriais, em Sistemas de Transporte, na
                  Automação de instalações elétricas prediais e comerciais, entre
                  outras.
                </p>
              </div>
            </div>
          </div>
  
          <div
            class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3"
          >
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/092018/engenharia-eletronica-14103106.png"
                alt="Administração"
              />
              <div class="card-body">
                <h5 class="card-title">Engenharia Eletrônica</h5>
                <p class="card-text">
                  A Engenharia Eletrônica está em nosso cotidiano, presente nas
                  mais diversas áreas: Comunicação, Transporte, Sistemas
                  Computadorizados, Controle de Processos, Entretenimento,
                  Segurança, Automação Predial e Industrial, Indústria de
                  Eletrodomésticos e Equipamentos Médicos, entre muitas outras.
                </p>
              </div>
            </div>
          </div>
  
          <div
            class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3"
          >
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/102018/engenharia-mecanica-18154700.png"
                alt="Administração"
              />
              <div class="card-body">
                <h5 class="card-title">Engenharia Mecânica</h5>
                <p class="card-text">
                  A graduação em Engenharia Mecânica é uma das mais abrangentes
                  modalidades da Engenharia. Ela trata de tudo o que se move, de
                  brinquedos a fábricas (com tudo o que está dentro), passando por
                  eletrodomésticos, embarcações, veículos etc.
                </p>
              </div>
            </div>
          </div>
  
          <div
            class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3 mb-xl-3"
          >
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/102018/engenharia-producao-18154849.png"
                alt="Administração"
              />
              <div class="card-body">
                <h5 class="card-title">Engenharia de Produção</h5>
                <p class="card-text">
                  Infraestrutura de ponta, profissionais reconhecidos num curso
                  bem-conceituado. Essa é a graduação em Engenharia de Produção da
                  Mauá, ideal para um futuro de sucesso!
                </p>
              </div>
            </div>
          </div>
  
          <div
            class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3 mb-3"
          >
            <div class="card" style="width: 30rem;">
              <img
                src="https://maua.br/img/upload/092018/engenharia-quimica-14103146.png"
                alt="Administração"
              />
              <div class="card-body">
                <h5 class="card-title">Engenharia Química</h5>
                <p class="card-text">
                  Essa é a área mais abrangente da Engenharia e compreende todas
                  as etapas de criação, desenvolvimento, melhoramento e aplicação
                  dos processos químicos e bioquímicos e dos seus produtos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>