 .container .row {
  padding-top: 85px;
} 
.navbar.navbar-expand-lg.navbar-dark.fixed-top li a {
    color: white;
    font-weight: bold;
    transition: 200ms !important;
}
.navbar.navbar-expand-lg.navbar-dark.fixed-top li a:hover {
    transform: scale(1.08);
}
.table.table-hover th{
    color:#00293f;
    text-align: center;
}
.table.table-hover td{
    color:#00293f;
    text-align: center;
}
form .container .form-group label{
    color:#00293f;

}
@media(max-width: 960px){
    .navbar.navbar-expand-lg.navbar-dark.fixed-top li a {
        color: white;
        transition: 200ms !important;
    }
    .navbar.navbar-expand-lg.navbar-dark.fixed-top li a:hover {
        transform: scale(1.008);
    }