<body>
  <!-- Menu de navegação -->
  <nav
    class="navbar navbar-expand-lg navbar-dark fixed-top"
    style="background-color: #00293f;"
  >
    <a class="navbar-brand"
      ><img src="https://maua.br/img/default/logo_maua.png" height="35" alt=""
    /></a>
    <button
      class="navbar-toggler"
      style="background-color: #00293f; border-color: white;"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" style="color: white;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/professores">Professores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sugestoes">Sugestões</a>
        </li>
      </ul>
      <form action="" class="form-inline">
        <input type="text" class="form-control mr-2" placeholder="Login" />
        <input type="password" class="form-control mr-2" placeholder="Senha" />
        <button
          class="btn btn-primary"
          style="background-color: #00293f; border-color: white;"
        >
          Entrar
        </button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
